.disabled {
    pointer-events: none;
    opacity: 0.8;
  }

.board {
    margin: 50px;
    float: right;
}

.board td {
    width : 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    transition: 0.s;
    background-color: rgb(248, 224, 215);
}

.board td:hover {
    font-weight: bold;
    font-size: x-large;
}

.board{
    background-color: rgb(218, 208, 212);
}

body{
    background-color: rgb(253, 241, 235);
    padding-left: 45%;  /* to change it later to something stable*/
}

.message {
    padding-top: 15px;
    font-weight: bold;
}

